body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.pet-card-img {
  height: 200px;
  object-fit: cover;
}

.details-page-img {
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

.details-page-placeholder {
  height: 500px;
  border-radius: 8px;
  background-color: #f0f0f0;
  color: #6c757d;
  font-size: 1.5rem;
}