

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* A very light grey background makes the white cards pop */
  background-color: #f8f9fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.pet-card-img {
  height: 200px;
  object-fit: cover;
}

.details-page-img {
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

.details-page-placeholder {
  height: 500px;
  border-radius: 8px;
  background-color: #f0f0f0;
  color: #6c757d;
  font-size: 1.5rem;
}

/*  Dark Blue Theme  */

/* new class for the dark blue navbar */
.navbar-custom {
  background-color: #2c3e50;
}

/* overrides Bootstraps default blue for primary buttons */
.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}

/* styles the button when you hover over it */
.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

/* This makes the info badges on the details page match new blue */
.badge.bg-info {
    background-color: #3498db !important; 
}

.footer-custom {
  background-color: #2c3e50;
  color: white;
}